<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loginpage.css">
    <title>Keyboard Battles</title>
</head>

<body>
{{!--------------title art-----------}}
    <h1>
        <div class="words word-1">
            <span>K</span>
            <span>E</span>
            <span>Y</span>
            <span>B</span>
            <span>O</span>
            <span>A</span>
            <span>R</span>
            <span>D</span>
        </div>

        <div class="words word-2">
            <span>B</span>
            <span>A</span>
            <span>T</span>
            <span>T</span>
            <span>L</span>
            <span>E</span>
            <span>S</span>
        </div>
    </h1>

    <div class="ocean">
        <div class="bubble bubble--1"></div>
        <div class="bubble bubble--2"></div>
        <div class="bubble bubble--3"></div>
        <div class="bubble bubble--4"></div>
        <div class="bubble bubble--5"></div>
        <div class="bubble bubble--6"></div>
        <div class="bubble bubble--7"></div>
        <div class="bubble bubble--8"></div>
        <div class="bubble bubble--9"></div>
        <div class="bubble bubble--10"></div>
        <div class="bubble bubble--11"></div>
        <div class="bubble bubble--12"></div>
    </div>

{{!--------------login and signup-------------- --}}
<article class="columnall">
    <form class="row" id="login">
        <div class="column">
         <div class="columnone">
            <h2>Login</h2>
            <label>Username:</label>
            <input class="logininput" type="text" name="username" id="username-login" />
            <div>
                <label>Password:</label>
                <input class="logininput" type="password" name="password" id="password-login" />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="ENTER HERE" />
            </div>
            </div>
            </div>
    </form>

    <div class="row"></div>
    <div class="column"></div>
    <div class="columntwo"></div>
 
    <form class="row" id="signup">
        <div class="columnthree">
            <h3>Sign Up</h3>
            <label>Username:</label>
            <input class="logininput" type="text" name="username" id="username-signup" />
            <div>
                <label>Email:</label>
                <input class="logininput" type="email" name="email" id="email-signup" />
            </div>
            <div>
                <label>Password:</label>
                <input class="logininput" type="password" name="password" id="password-signup" />
            </div>
            <div>
                <input class="btn btn-primary" type="Sign Up!" value="Sign Up!" />
            </div>
        </div>
    </form>
  </article>
  
  
    <script src="/js/login.js"></script>
</body>

</html>