<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/matchplay.css" />
    <title>KeyBoard Battle Match</title>
</head>


<body>

<div class="words word-1">
  <span>B</span>
  <span>A</span>
  <span>T</span>
  <span>T</span>
  <span>L</span>
  <span>E</span>
   <span>!</span>
</div></h1>

{{!-- player one --}}
 <div class="container">
    <div class="quote-display" id="quoteDisplay"></div>
    <textarea id="quoteInput" class="quote-input" autofocus></textarea>
 </div>
 <br>

<div class="playertwo">
  <div class="containplayer">
    <div class="quote-displayone" id="quoteDisplayone"></div>
    <textarea id="quoteInput" class="quote-input" autofocus></textarea>
 </div>
<div class="player2"> PLAYER 1</div>
<div class="score2"> P1 Score</div>
<textarea id="quoteInput" class="scores"></textarea>
</div>


<div class="playerone">
  <div class="containplayer"> 
  <div class="quote-displaytwo" id="quoteDisplaytwo"></div>
    <textarea id="quoteInput" class="quote-input" autofocus></textarea>
 </div>
<div class="player1"> PLAYER 2</div>
<div class="score1"> P2 Score</div>
<textarea id="quoteInput" class="scores"></textarea>
</div>



</body>
</html>




