*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Lakki Reddy', cursive;
  background: linear-gradient( rgb(0, 1, 2),rgb(29, 29, 73));
  position:relative;
  background-size: cover;
  background-repeat:no-repeat; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;  
  font-size: 30px;
  display: block;
  justify-content: center;
}  
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: solid 1px #eee;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#div1 {
  font-size:48px;
  background: linear-gradient( rgb(127, 150, 173),rgb(67, 67, 73));
}

.header a {
  float: auto;
  color:rgb(255, 102, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

h1 {
  float: auto;
 color:rgb(255, 102, 0);
  text-align: center;

}

h2, 
p{
  font-size: 30px;
  margin: 20px;
background-color: white;
}




.hiddenEl {
  display: none;
}
